html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space /*/
  background: transparent;
}
/* // optional: show position indicator in red  */
::-webkit-scrollbar-thumb {
  background: transparent;
}
a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none !important;
  cursor: pointer;
}
